*{
    font-family: Glass;
}
@font-face {
    font-family: 'Glass'; 
    src: url('../fonts/Glass.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Recommended for performance */
}
